.btn {
    border: none;
  }
  
  .btn:focus-visible,
  .btn:first-child:active,
  .btn:hover {
    background-color: var(--red-69);
    border: none;
    box-shadow: none;
    color: #fff;
  }
  
  .label-data {
    top: -15px;
    font-size: 11px;
    color: rgb(151, 149, 149);
  }
  
  .form-control,
  .form-select {
    background-color: #f3f3f7;
    box-shadow: 0 3px 5px gray;
  }
  
  .col-sm:first-child {
    margin-right: 20px;
  }
  
  .client__nome-div {
    margin-bottom: 17px;
  }
  
  .client__nome-btn {
    width: 96%;
    height: 30px;
    line-height: 20px;
    border: 1px solid rgba(191, 0, 11, 0.69);
    border-radius: 5px;
    color: #fff;
    background-color: rgba(191, 0, 11, 0.69);
    font-size: 1rem;
    font-weight: 800;
  }
  .client__nome-btn:hover, .client__nome-btn:focus-visible, .client__nome-btn:active, .client__nome-btn:focus {
    color: #fff;
  }
  
  
  .btn:first-child:active {
    color: #fff;
  }
  
  .d-flex {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .div {
    height: 200px;
  }
  
  .btn-nota {
    width: 100%;
    max-width: 305px;
    height: 30px;
    line-height: 20px;
    background-color: rgba(191, 0, 11, 0.69);
    border: 1px solid rgba(191, 0, 11, 0.69);
    border-radius: 5px;
    color: #FFF;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  p {
    padding: 12px;
  }
  
  .btn-nota:hover {
    background-color: var(--red-69);
  }
  

.form-control,
.form-select {
    background-color: #f3f3f7;
    box-shadow: 0 3px 5px gray;

}


.col-sm:first-child {
    margin-right:20px;
}
.clicked {
  background-color: rgba(246, 223, 18, 0.69);
  color: rgba(253, 0, 0, 1);
}
.clicked:focus,
.clicked:focus-visible {
  color: rgba(253, 0, 0, 1);
}