.btn-white {
    background-color:  #fff;
    color: var(--red-69);
    min-width: 300px;
    height: 52px;
    line-height: 52px;
}

.btn-bg-red {
    background-color: var(--red-69);
    color: #fff;
    min-width: 300px;
    height: 52px;
    line-height: 52px;
}

.btn-bg-red-radius {
    background-color: var(--red-69);
    color: #fff;
    min-width: 136px;
    height: 52px;
    line-height: 52px;
}

